.orange-bg{
    background-color: #fceae8;
    border-radius: 8px;
}
.container{
    margin-bottom: 90px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 30px;
}
.cat1{
    background-color: rgb(233, 188, 39);
}
.cat2{
    background-color: rgb(221, 27, 189);
}
.cat3{
    background-color: #134bc4;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px; lightgray;
}
#contact-us{
    height: 300px;
}
#subscriber h6{
    color: gray;
}
footer{
    text-align: center;
}
